@keyframes scale {
    0% {
        opacity: 0;
        transform: scaleX(0.9) translateX(-50px);
    }
    75% {
        opacity: 0.2;
    }
    100% {
        transform: scaleX(1) translateX(0);
        opacity: 1;
    }
}