#layout.typography .arrow-icons{
--arrow-anticlockwise-open-circle:'\21ba';
--arrow-anticlockwise-top-semicircle:'\21b6';
--arrow-back-tilted-shadowed-white-rightwards:'\27ab';
--arrow-black-feathered-north-east:'\27b6';
--arrow-black-feathered-rightwards:'\27b5';
--arrow-black-feathered-south-east:'\27b4';
--arrow-black-rightwards:'\27a1';
--arrow-black-rightwards-head:'\27a4';
--arrow-circled-heavy-white-rightwards:'\27b2';
--arrow-clockwise-open-circle:'\21bb';
--arrow-clockwise-top-semicircle:'\21b7';
--arrow-dashed-triangle-headed-rightwards:'\279f';
--arrow-downwards-dashed:'\21e3';
--arrow-downwards-double:'\21d3';
--arrow-downwards-from-bar:'\21a7';
--arrow-downwards-leftwards-of-upwards:'\21f5';
--arrow-downwards-paired:'\21ca';
--arrow-downwards-two-headed:'\21a1';
--arrow-downwards-white:'\21e9';
--arrow-downwards-with-corner-leftwards:'\21b5';
--arrow-downwards-with-double-stroke:'\21df';
--arrow-downwards-with-tip-leftwards:'\21b2';
--arrow-downwards-with-tip-rightwards:'\21b3';
--arrow-downwards-zigzag:'\21af';
--arrow-downwards:'\2193';
--arrow-drafting-point-rightwards:'\279b';
--arrow-front-tilted-shadowed-white-rightwards:'\27ac';
--arrow-heavy-black-curved-downwards-and-rightwards:'\27a5';
--arrow-heavy-black-curved-upwards-and-rightwards:'\27a6';
--arrow-heavy-black-feathered-north-east:'\27b9';
--arrow-heavy-black-feathered-rightwards:'\27b8';
--arrow-heavy-black-feathered-south-east:'\27b7';
--arrow-heavy-concave-pointed-black-rightwards:'\27a8';
--arrow-heavy-dashed-triangle-headed-rightwards:'\27a0';
--arrow-heavy-lower-right-shadowed-white-rightwards:'\27ad';
--arrow-heavy-north-east:'\279a';
--arrow-heavy-rightwards:'\2799';
--arrow-heavy-round-tipped-rightwards:'\279c';
--arrow-heavy-south-east:'\2798';
--arrow-heavy-teardrop-shanked-rightwards:'\27bb';
--arrow-heavy-triangle-headed-rightwards:'\279e';
--arrow-heavy-upper-right-shadowed-white-rightwards:'\27ae';
--arrow-heavy-wedge-tailed-rightwards:'\27bd';
--arrow-heavy-wide-headed-rightwards:'\2794';
--arrow-left-right-double-with-stroke:'\21ce';
--arrow-left-right-double:'\21d4';
--arrow-left-right-open-headed:'\21ff';
--arrow-left-right-wave:'\21ad';
--arrow-left-right-with-double-vertical-stroke:'\21fc';
--arrow-left-right-with-stroke:'\21ae';
--arrow-left-right-with-vertical-stroke:'\21f9';
--arrow-left-right:'\2194';
--arrow-left-shaded-white-rightwards:'\27aa';
--arrow-leftwards-dashed:'\21e0';
--arrow-leftwards-double-with-stroke:'\21cd';
--arrow-leftwards-double:'\21d0';
--arrow-leftwards-from-bar:'\21a4';
--arrow-leftwards-open-headed:'\21fd';
--arrow-leftwards-over-rightwards:'\21c6';
--arrow-leftwards-paired:'\21c7';
--arrow-leftwards-squiggle:'\21dc';
--arrow-leftwards-to-bar-over-rightwards-to-bar:'\21b9';
--arrow-leftwards-to-bar:'\21e4';
--arrow-leftwards-triple:'\21da';
--arrow-leftwards-two-headed:'\219e';
--arrow-leftwards-wave:'\219c';
--arrow-leftwards-white:'\21e6';
--arrow-leftwards-with-double-vertical-stroke:'\21fa';
--arrow-leftwards-with-hook:'\21a9';
--arrow-leftwards-with-loop:'\21ab';
--arrow-leftwards-with-stroke:'\219a';
--arrow-leftwards-with-tail:'\21a2';
--arrow-leftwards-with-vertical-stroke:'\21f7';
--arrow-leftwards:'\2190';
--arrow-north-east-double:'\21d7';
--arrow-north-east:'\2197';
--arrow-north-west-double:'\21d6';
--arrow-north-west-to-corner:'\21f1';
--arrow-north-west-to-long-bar:'\21b8';
--arrow-north-west:'\2196';
--arrow-notched-lower-right-shadowed-white-rightwards:'\27af';
--arrow-notched-upper-right-shadowed-white-rightwards:'\27b1';
--arrow-open-outlined-rightwards:'\27be';
--arrow-right-shaded-white-rightwards:'\27a9';
--arrow-right-with-small-circle:'\21f4';
--arrow-rightwards-dashed:'\21e2';
--arrow-rightwards-double-with-stroke:'\21cf';
--arrow-rightwards-double:'\21d2';
--arrow-rightwards-from-bar:'\21a6';
--arrow-rightwards-open-headed:'\21fe';
--arrow-rightwards-over-leftwards:'\21c4';
--arrow-rightwards-paired:'\21c9';
--arrow-rightwards-squiggle:'\21dd';
--arrow-rightwards-to-bar:'\21e5';
--arrow-rightwards-triple:'\21db';
--arrow-rightwards-two-headed:'\21a0';
--arrow-rightwards-wave:'\219d';
--arrow-rightwards-white-from-wall:'\21f0';
--arrow-rightwards-white:'\21e8';
--arrow-rightwards-with-corner-downwards:'\21b4';
--arrow-rightwards-with-double-vertical-stroke:'\21fb';
--arrow-rightwards-with-hook:'\21aa';
--arrow-rightwards-with-loop:'\21ac';
--arrow-rightwards-with-stroke:'\219b';
--arrow-rightwards-with-tail:'\21a3';
--arrow-rightwards-with-vertical-stroke:'\21f8';
--arrow-rightwards:'\2192';
--arrow-south-east-double:'\21d8';
--arrow-south-east-to-corner:'\21f2';
--arrow-south-east:'\2198';
--arrow-south-west-double:'\21d9';
--arrow-south-west:'\2199';
--arrow-squat-black-rightwards:'\27a7';
--arrow-teardrop-barbed-rightwards:'\27ba';
--arrow-three-d-bottom-lighted-rightwards:'\27a3';
--arrow-three-d-top-lighted-rightwards:'\27a2';
--arrow-three-rightwards:'\21f6';
--arrow-triangle-headed-rightwards:'\279d';
--arrow-up-down-double:'\21d5';
--arrow-up-down-white:'\21f3';
--arrow-up-down-with-base:'\21a8';
--arrow-up-down:'\2195';
--arrow-upwards-dashed:'\21e1';
--arrow-upwards-double:'\21d1';
--arrow-upwards-from-bar:'\21a5';
--arrow-upwards-leftwards-of-downwards:'\21c5';
--arrow-upwards-paired:'\21c8';
--arrow-upwards-two-headed:'\219f';
--arrow-upwards-white-double-on-pedestal:'\21ef';
--arrow-upwards-white-double:'\21ee';
--arrow-upwards-white-from-bar:'\21ea';
--arrow-upwards-white-on-pedestal-with-horizontal-bar:'\21ec';
--arrow-upwards-white-on-pedestal-with-vertical-bar:'\21ed';
--arrow-upwards-white-on-pedestal:'\21eb';
--arrow-upwards-white:'\21e7';
--arrow-upwards-with-double-stroke:'\21de';
--arrow-upwards-with-tip-leftwards:'\21b0';
--arrow-upwards-with-tip-rightwards:'\21b1';
--arrow-upwards:'\2191';
--arrow-wedge-tailed-rightwards:'\27bc';
--arrow-white-feathered-rightwards:'\27b3';
}