#layout.typography .auto-icons{
--auto-alternate-one-way-left-way-traffic:'\26d5';
--auto-black-left-lane-merge:'\26d8';
--auto-black-truck:'\26df';
--auto-black-two-way-left-way-traffic:'\26d6';
--auto-car-sliding:'\26d0';
--auto-chains:'\26d3';
--auto-circled-crossing-lanes:'\26d2';
--auto-disabled-car:'\26cd';
--auto-drive-slow-sign:'\26da';
--auto-falling-diagonal-in-white-circle-in-black-square:'\26de';
--auto-heavy-white-down-pointing-triangle:'\26db';
--auto-helmet-with-white-cross:'\26d1';
--auto-left-closed-entry:'\26dc';
--auto-no-entry:'\26d4';
--auto-restricted-left-entry-1:'\26e0';
--auto-restricted-left-entry-2:'\26e1';
--auto-squared-saltire:'\26dd';
--auto-white-left-lane-merge:'\26d9';
--auto-white-two-way-left-way-traffic:'\26d7';
}