#layout.typography .currency-icons{
--currency-account:'\2100';
--currency-austral:'\20b3';
--currency-cedi:'\20b5';
--currency-cent:'\00a2';
--currency-colon:'\20a1';
--currency-cruzeiro:'\20a2';
--currency-dollar:'\0024';
--currency-dong:'\20ab';
--currency-drachma:'\20af';
--currency-euro-cur:'\20a0';
--currency-euro:'\20ac';
--currency-franc:'\20a3';
--currency-german-:'\20b0';
--currency-guarani:'\20b2';
--currency-hryvnia:'\20b4';
--currency-japanese-bank:'\26fb';
--currency-kip:'\20ad';
--currency-lira:'\20a4';
--currency-livre:'\20b6';
--currency-mill:'\20a5';
--currency-naira:'\20a6';
--currency-peseta:'\20a7';
--currency-peso:'\20b1';
--currency-pound:'\00a3';
--currency-rupee:'\20a8';
--currency-rupee:'\20b9';
--currency-sheqel:'\20aa';
--currency-spesmilo:'\20b7';
--currency-tenge:'\20b8';
--currency-tugrik:'\20ae';
--currency-won:'\20a9';
--currency-yen:'\00a5';
--currency:'\00a4';
}