#layout.typography .dingbat-icons{
--dingbat-negative-circled-one:'\2776';
--dingbat-negative-circled-two:'\2777';
--dingbat-negative-circled-three:'\2778';
--dingbat-negative-circled-four:'\2779';
--dingbat-negative-circled-five:'\277a';
--dingbat-negative-circled-six:'\277b';
--dingbat-negative-circled-seven:'\277c';
--dingbat-negative-circled-eight:'\277d';
--dingbat-negative-circled-nine:'\277e';
--dingbat-negative-circled-ten:'\277f';
--dingbat-circled-sans-serif-one:'\2780';
--dingbat-circled-sans-serif-two:'\2781';
--dingbat-circled-sans-serif-three:'\2782';
--dingbat-circled-sans-serif-four:'\2783';
--dingbat-circled-sans-serif-five:'\2784';
--dingbat-circled-sans-serif-six:'\2785';
--dingbat-circled-sans-serif-seven:'\2786';
--dingbat-circled-sans-serif-eight:'\2787';
--dingbat-circled-sans-serif-nine:'\2788';
--dingbat-circled-sans-serif-ten:'\2789';
--dingbat-negative-circled-sans-serif-one:'\278a';
--dingbat-negative-circled-sans-serif-two:'\278b';
--dingbat-negative-circled-sans-serif-three:'\278c';
--dingbat-negative-circled-sans-serif-four:'\278d';
--dingbat-negative-circled-sans-serif-five:'\278e';
--dingbat-negative-circled-sans-serif-six:'\278f';
--dingbat-negative-circled-sans-serif-seven:'\2790';
--dingbat-negative-circled-sans-serif-eight:'\2791';
--dingbat-negative-circled-sans-serif-nine:'\2792';
--dingbat-negative-circled-sans-serif-ten:'\2793';
}