#layout.typography .game-icons{
--game-black-chess-bishop:'\265d';
--game-black-chess-king:'\265a';
--game-black-chess-knight:'\265e';
--game-black-chess-pawn:'\265f';
--game-black-chess-queen:'\265b';
--game-black-chess-rook:'\265c';
--game-black-circle-with-two-white-dots:'\2689';
--game-black-circle-with-white-dot-right:'\2688';
--game-black-club-suit:'\2663';
--game-black-diamond-suit:'\2666';
--game-black-heart-suit:'\2665';
--game-black-smiling-face:'\263b';
--game-black-spade-suit:'\2660';
--game-die-face-1:'\2680';
--game-die-face-2:'\2681';
--game-die-face-3:'\2682';
--game-die-face-4:'\2683';
--game-die-face-5:'\2684';
--game-die-face-6:'\2685';
--game-white-chess-bishop:'\2657';
--game-white-chess-king:'\2654';
--game-white-chess-knight:'\2658';
--game-white-chess-pawn:'\2659';
--game-white-chess-queen:'\2655';
--game-white-chess-rook:'\2656';
--game-white-circle-with-dot-right:'\2686';
--game-white-circle-with-two-dots:'\2687';
--game-white-club-suit:'\2667';
--game-white-diamond-suit:'\2662';
--game-white-frowning-face:'\2639';
--game-white-heart-suit:'\2661';
--game-white-smiling-face:'\263a';
--game-white-spade-suit:'\2664';
}