#layout.typography .general-icons{
--icon-airplane:'\2708';
--icon-alembic:'\2697';
--icon-anchor:'\2693';
--icon-atom-symbol:'\269b';
--icon-baseball:'\26be';
--icon-biohazard:'\2623';
--icon-black-cross-on-shield:'\26e8';
--icon-black-draughts-king:'\26c3';
--icon-black-draughts-man:'\26c2';
--icon-black-flag:'\2691';
--icon-black-nib:'\2712';
--icon-black-scissors:'\2702';
--icon-black-telephone:'\260e';
--icon-caduceus:'\2624';
--icon-castle:'\26eb';
--icon-caution:'\2621';
--icon-church:'\26ea';
--icon-coffin:'\26b0';
--icon-copyright:'\00a9';
--icon-crossed-swords:'\2694';
--icon-crossing-lanes:'\26cc';
--icon-cup-on-black-square:'\26fe';
--icon-curly-loop:'\27b0';
--icon-curved-stem-paragraph-ornament:'\2761';
--icon-double-curly-loop:'\27bf';
--icon-envelope:'\2709';
--icon-ferry:'\26f4';
--icon-flag-in-hole:'\26f3';
--icon-fleur-de-lis:'\269c';
--icon-floral-heart:'\2766';
--icon-flower:'\2698';
--icon-fountain:'\26f2';
--icon-fuel-pump:'\26fd';
--icon-funeral-urn:'\26b1';
--icon-gear-with-handles:'\26ee';
--icon-gear-without-hub:'\26ed';
--icon-gear:'\2699';
--icon-hammer-and-pick:'\2692';
--icon-heavy-black-heart:'\2764';
--icon-heavy-exclamation-mark-ornament:'\2762';
--icon-heavy-heart-exclamation-mark-ornament:'\2763';
--icon-high-voltage:'\26a1';
--icon-historic-site:'\26ec';
--icon-hot-beverage:'\2615';
--icon-hot-springs:'\2668';
--icon-ice-skate:'\26f8';
--icon-lower-blade-scissors:'\2703';
--icon-lower-right-pencil:'\270e';
--icon-map-symbol-for-lighthouse:'\26ef';
--icon-mountain:'\26f0';
--icon-ophiuchus:'\26ce';
--icon-pencil:'\270f';
--icon-person-with-ball:'\26f9';
--icon-pick:'\26cf';
--icon-radioactive:'\2622';
--icon-raised-fist:'\270a';
--icon-raised-hand:'\270b';
--icon-registered:'\00ae';
--icon-reversed-rotated-floral-heart-bullet:'\2619';
--icon-rotated-floral-heart-bullet:'\2767';
--icon-rotated-heavy-black-heart-bullet:'\2765';
--icon-sailboat:'\26f5';
--icon-scales:'\2696';
--icon-servicemark:'\2120';
--icon-shamrock:'\2618';
--icon-shinto-shrine:'\26e9';
--icon-skier:'\26f7';
--icon-soccer-ball:'\26bd';
--icon-sparkles:'\2728';
--icon-square-four-corners:'\26f6';
--icon-squared-key:'\26bf';
--icon-staff-of-aesculapius:'\2695';
--icon-staff-of-hermes:'\269a';
--icon-tape-drive:'\2707';
--icon-telephone-location:'\2706';
--icon-tent:'\26fa';
--icon-trademark:'\2122';
--icon-turned-black-shogi-piece:'\26ca';
--icon-turned-white-shogi-piece:'\26c9';
--icon-umbrella-on-ground:'\26f1';
--icon-upper-blade-scissors:'\2701';
--icon-upper-right-pencil:'\2710';
--icon-victory-hand:'\270c';
--icon-warning:'\26a0';
--icon-white-diamond-in-square:'\26cb';
--icon-white-draughts-king:'\26c1';
--icon-white-draughts-man:'\26c0';
--icon-white-flag-with-horizontal-middle-black-stripe:'\26ff';
--icon-white-flag:'\2690';
--icon-white-heavy-check-mark:'\2705';
--icon-white-nib:'\2711';
--icon-white-scissors:'\2704';
--icon-white-telephone:'\260f';
--icon-writing-hand:'\270d';
}