#layout.typography .pointer-icons{
--pointer-black-left-pointing-index:'\261a';
--pointer-black-right-pointing-index:'\261b';
--pointer-white-down-pointing-index:'\261f';
--pointer-white-left-pointing-index:'\261c';
--pointer-white-right-pointing-index:'\261e';
--pointer-white-up-pointing-index:'\261d';
}