#layout.typography .religion-icons{
--religion-ankh:'\2625';
--religion-chi-rho:'\2627';
--religion-cross-of-jerusalem:'\2629';
--religion-cross-of-lorraine:'\2628';
--religion-digram-for-greater-yang:'\268c';
--religion-digram-for-greater-yin:'\268f';
--religion-digram-for-lesser-yang:'\268e';
--religion-digram-for-lesser-yin:'\268d';
--religion-east-syriac-cross:'\2671';
--religion-farsi-symbol:'\262b';
--religion-hammer-and-sickle:'\262d';
--religion-khanda:'\262c';
--religion-monogram-for-yang:'\268a';
--religion-monogram-for-yin:'\268b';
--religion-orthodox-cross:'\2626';
--religion-peace-symbol:'\262e';
--religion-star-and-crescent:'\262a';
--religion-trigram-for-earth:'\2637';
--religion-trigram-for-fire:'\2632';
--religion-trigram-for-heaven:'\2630';
--religion-trigram-for-lake:'\2631';
--religion-trigram-for-mountain:'\2636';
--religion-trigram-for-thunder:'\2633';
--religion-trigram-for-water:'\2635';
--religion-trigram-for-wind:'\2634';
--religion-west-syriac-cross:'\2670';
--religion-wheel-of-dharma:'\2638';
--religion-yin-yang:'\262f';
}