#layout.typography .shape-icons{
--shape-black-centre-white-star:'\272c';
--shape-black-circle:'\25cf';
--shape-black-diamond:'\25c6';
--shape-black-down-pointing-small-triangle:'\25be';
--shape-black-down-pointing-triangle:'\25bc';
--shape-black-four-pointed-star:'\2726';
--shape-black-left-pointing-pointer:'\25c4';
--shape-black-left-pointing-small-triangle:'\25c2';
--shape-black-left-pointing-triangle:'\25c0';
--shape-black-lower-left-triangle:'\25e3';
--shape-black-lower-right-triangle:'\25e2';
--shape-black-medium-small-square:'\25fe';
--shape-black-medium-square:'\25fc';
--shape-black-parallelogram:'\25b0';
--shape-black-rectangle:'\25ac';
--shape-black-right-pointing-pointer:'\25ba';
--shape-black-right-pointing-small-triangle:'\25b8';
--shape-black-right-pointing-triangle:'\25b6';
--shape-black-small-square:'\25aa';
--shape-black-square:'\25a0';
--shape-black-up-pointing-small-triangle:'\25b4';
--shape-black-up-pointing-triangle:'\25b2';
--shape-black-upper-left-triangle:'\25e4';
--shape-black-upper-right-triangle:'\25e5';
--shape-black-vertical-rectangle:'\25ae';
--shape-bullseye:'\25ce';
--shape-circle-with-all-but-upper-left-quadrant-black:'\25d5';
--shape-circle-with-left-half-black:'\25d0';
--shape-circle-with-lower-half-black:'\25d2';
--shape-circle-with-right-half-black:'\25d1';
--shape-circle-with-upper-half-black:'\25d3';
--shape-circle-with-upper-right-quadrant-black:'\25d4';
--shape-circle-with-vertical-fill:'\25cd';
--shape-circled-open-centre-eight-pointed-star:'\2742';
--shape-circled-white-star:'\272a';
--shape-dark-shade:'\2593';
--shape-dotted-circle:'\25cc';
--shape-eight-pointed-black-star:'\2734';
--shape-eight-pointed-pinwheel-star:'\2735';
--shape-eight-pointed-rectilinear-black-star:'\2737';
--shape-fisheye:'\25c9';
--shape-full-block:'\2588';
--shape-heavy-eight-pointed-rectilinear-black-star:'\2738';
--shape-heavy-outlined-black-star:'\272e';
--shape-inverse-bullet:'\25d8';
--shape-inverse-white-circle:'\25d9';
--shape-inverted-pentagram:'\26e7';
--shape-large-circle:'\25ef';
--shape-left-five-eighths-block:'\258b';
--shape-left-half-black-circle:'\25d6';
--shape-left-half-block:'\258c';
--shape-left-handed-interlaced-pentagram:'\26e6';
--shape-left-one-eighth-block:'\258f';
--shape-left-one-quarter-block:'\258e';
--shape-left-seven-eighths-block:'\2589';
--shape-left-three-eighths-block:'\258d';
--shape-left-three-quarters-block:'\258a';
--shape-light-shade:'\2591';
--shape-lower-five-eighths-block:'\2585';
--shape-lower-half-block:'\2584';
--shape-lower-half-circle:'\25e1';
--shape-lower-half-inverse-white-circle:'\25db';
--shape-lower-left-quadrant-circular-arc:'\25df';
--shape-lower-left-triangle:'\25fa';
--shape-lower-one-eighth-block:'\2581';
--shape-lower-one-quarter-block:'\2582';
--shape-lower-right-quadrant-circular-arc:'\25de';
--shape-lower-right-triangle:'\25ff';
--shape-lower-seven-eighths-block:'\2587';
--shape-lower-three-eighths-block:'\2583';
--shape-lower-three-quarters-block:'\2586';
--shape-lozenge:'\25ca';
--shape-medium-black-circle:'\26ab';
--shape-medium-shade:'\2592';
--shape-medium-small-white-circle:'\26ac';
--shape-medium-white-circle:'\26aa';
--shape-open-centre-black-star:'\272b';
--shape-outlined-black-star:'\272d';
--shape-outlined-white-star:'\269d';
--shape-pentagram:'\26e4';
--shape-pinwheel-star:'\272f';
--shape-quadrant-lower-left:'\2596';
--shape-quadrant-lower-right:'\2597';
--shape-quadrant-upper-left-and-lower-left-and-lower-right:'\2599';
--shape-quadrant-upper-left-and-lower-right:'\259a';
--shape-quadrant-upper-left-and-upper-right-and-lower-left:'\259b';
--shape-quadrant-upper-left-and-upper-right-and-lower-right:'\259c';
--shape-quadrant-upper-left:'\2598';
--shape-quadrant-upper-right-and-lower-left-and-lower-right:'\259f';
--shape-quadrant-upper-right-and-lower-left:'\259e';
--shape-quadrant-upper-right:'\259d';
--shape-right-half-black-circle:'\25d7';
--shape-right-half-block:'\2590';
--shape-right-handed-interlaced-pentagram:'\26e5';
--shape-right-one-eighth-block:'\2595';
--shape-shadowed-white-star:'\2730';
--shape-six-pointed-black-star:'\2736';
--shape-square-with-diagonal-crosshatch-fill:'\25a9';
--shape-square-with-horizontal-fill:'\25a4';
--shape-square-with-left-half-black:'\25e7';
--shape-square-with-lower-right-diagonal-half-black:'\25ea';
--shape-square-with-orthogonal-crosshatch-fill:'\25a6';
--shape-square-with-right-half-black:'\25e8';
--shape-square-with-upper-left-diagonal-half-black:'\25e9';
--shape-square-with-upper-left-to-lower-right-fill:'\25a7';
--shape-square-with-upper-right-to-lower-left-fill:'\25a8';
--shape-square-with-vertical-fill:'\25a5';
--shape-star-of-david:'\2721';
--shape-stress-outlined-white-star:'\2729';
--shape-twelve-pointed-black-star:'\2739';
--shape-up-pointing-triangle-with-left-half-black:'\25ed';
--shape-up-pointing-triangle-with-right-half-black:'\25ee';
--shape-upper-half-block:'\2580';
--shape-upper-half-circle:'\25e0';
--shape-upper-half-inverse-white-circle:'\25da';
--shape-upper-left-quadrant-circular-arc:'\25dc';
--shape-upper-left-triangle:'\25f8';
--shape-upper-one-eighth-block:'\2594';
--shape-upper-right-quadrant-circular-arc:'\25dd';
--shape-upper-right-triangle:'\25f9';
--shape-white-bullet:'\25e6';
--shape-white-circle-with-lower-left-quadrant:'\25f5';
--shape-white-circle-with-lower-right-quadrant:'\25f6';
--shape-white-circle-with-upper-left-quadrant:'\25f4';
--shape-white-circle-with-upper-right-quadrant:'\25f7';
--shape-white-circle:'\25cb';
--shape-white-diamond-containing-black-small-diamond:'\25c8';
--shape-white-diamond:'\25c7';
--shape-white-down-pointing-small-triangle:'\25bf';
--shape-white-down-pointing-triangle:'\25bd';
--shape-white-four-pointed-star:'\2727';
--shape-white-left-pointing-pointer:'\25c5';
--shape-white-left-pointing-small-triangle:'\25c3';
--shape-white-left-pointing-triangle:'\25c1';
--shape-white-medium-small-square:'\25fd';
--shape-white-medium-square:'\25fb';
--shape-white-parallelogram:'\25b1';
--shape-white-rectangle:'\25ad';
--shape-white-right-pointing-pointer:'\25bb';
--shape-white-right-pointing-small-triangle:'\25b9';
--shape-white-right-pointing-triangle:'\25b7';
--shape-white-small-square:'\25ab';
--shape-white-square-containing-black-small-square:'\25a3';
--shape-white-square-with-lower-left-quadrant:'\25f1';
--shape-white-square-with-lower-right-quadrant:'\25f2';
--shape-white-square-with-rounded-corners:'\25a2';
--shape-white-square-with-upper-left-quadrant:'\25f0';
--shape-white-square-with-upper-right-quadrant:'\25f3';
--shape-white-square-with-vertical-bisecting-line:'\25eb';
--shape-white-square:'\25a1';
--shape-white-up-pointing-small-triangle:'\25b5';
--shape-white-up-pointing-triangle-with-dot:'\25ec';
--shape-white-up-pointing-triangle:'\25b3';
--shape-white-vertical-rectangle:'\25af';
}