#layout.typography .symbol-icons{
--symbol-aquarius:'\2652';
--symbol-aries:'\2648';
--symbol-astronomical-for-uranus:'\26e2';
--symbol-balloon-spoked-asterisk:'\2749';
--symbol-ballot-box-with-check:'\2611';
--symbol-ballot-box-with-x:'\2612';
--symbol-ballot-box:'\2610';
--symbol-ballot-x:'\2717';
--symbol-black-diamond-minus-white-x:'\2756';
--symbol-black-florette:'\273f';
--symbol-black-moon-lilith:'\26b8';
--symbol-black-question-mark-ornament:'\2753';
--symbol-black-shogi-piece:'\2617';
--symbol-black-universal-recycling:'\267b';
--symbol-cancer:'\264b';
--symbol-capricorn:'\2651';
--symbol-ceres:'\26b3';
--symbol-check-mark:'\2713';
--symbol-chiron:'\26b7';
--symbol-cross-mark:'\274c';
--symbol-divorce:'\26ae';
--symbol-doubled-female-sign:'\26a2';
--symbol-doubled-male-sign:'\26a3';
--symbol-earth:'\2641';
--symbol-eight-petalled-outlined-black-florette:'\2741';
--symbol-eight-spoked-asterisk:'\2733';
--symbol-eight-teardrop-spoked-propeller-asterisk:'\274a';
--symbol-female-sign:'\2640';
--symbol-four-balloon-spoked-asterisk:'\2723';
--symbol-four-club-spoked-asterisk:'\2725';
--symbol-four-teardrop-spoked-asterisk:'\2722';
--symbol-gemini:'\264a';
--symbol-headstone-graveyard:'\26fc';
--symbol-heavy-asterisk:'\2731';
--symbol-heavy-ballot-x:'\2718';
--symbol-heavy-check-mark:'\2714';
--symbol-heavy-chevron-snowflake:'\2746';
--symbol-heavy-circle-with-stroke-and-two-dots-above:'\26e3';
--symbol-heavy-division-sign:'\2797';
--symbol-heavy-eight-teardrop-spoked-propeller-asterisk:'\274b';
--symbol-heavy-exclamation-mark-symbol:'\2757';
--symbol-heavy-four-balloon-spoked-asterisk:'\2724';
--symbol-heavy-greek-cross:'\271a';
--symbol-heavy-minus-sign:'\2796';
--symbol-heavy-multiplication-x:'\2716';
--symbol-heavy-open-centre-cross:'\271c';
--symbol-heavy-plus-sign:'\2795';
--symbol-heavy-sparkle:'\2748';
--symbol-heavy-teardrop-spoked-asterisk:'\273d';
--symbol-heavy-teardrop-spoked-pinwheel-asterisk:'\2743';
--symbol-heavy-vertical-bar:'\275a';
--symbol-horizontal-male-with-stroke-sign:'\26a9';
--symbol-interlocked-female-and-male-sign:'\26a4';
--symbol-juno:'\26b5';
--symbol-jupiter:'\2643';
--symbol-latin-cross:'\271d';
--symbol-leo:'\264c';
--symbol-libra:'\264e';
--symbol-light-vertical-bar:'\2758';
--symbol-lower-right-drop-shadowed-white-square:'\274f';
--symbol-lower-right-shadowed-white-square:'\2751';
--symbol-male-and-female-sign:'\26a5';
--symbol-male-sign:'\2642';
--symbol-male-with-stroke-and-male-and-female-sign:'\26a7';
--symbol-male-with-stroke-sign:'\26a6';
--symbol-maltese-cross:'\2720';
--symbol-marriage:'\26ad';
--symbol-medium-vertical-bar:'\2759';
--symbol-mercury:'\263f';
--symbol-multiplication-x:'\2715';
--symbol-negative-squared-cross-mark:'\274e';
--symbol-neptune:'\2646';
--symbol-neuter:'\26b2';
--symbol-open-centre-asterisk:'\2732';
--symbol-open-centre-cross:'\271b';
--symbol-open-centre-teardrop-spoked-asterisk:'\273c';
--symbol-outlined-greek-cross:'\2719';
--symbol-outlined-latin-cross:'\271f';
--symbol-pallas:'\26b4';
--symbol-partially-recycled-paper:'\267d';
--symbol-permanent-paper-sign:'\267e';
--symbol-pisces:'\2653';
--symbol-pluto:'\2647';
--symbol-quincunx:'\26bb';
--symbol-recycled-paper:'\267c';
--symbol-recycling-for-generic-materials:'\267a';
--symbol-recycling-for-type-1-plastics:'\2673';
--symbol-recycling-for-type-2-plastics:'\2674';
--symbol-recycling-for-type-3-plastics:'\2675';
--symbol-recycling-for-type-4-plastics:'\2676';
--symbol-recycling-for-type-5-plastics:'\2677';
--symbol-recycling-for-type-6-plastics:'\2678';
--symbol-recycling-for-type-7-plastics:'\2679';
--symbol-sagittarius:'\2650';
--symbol-saturn:'\2644';
--symbol-scorpius:'\264f';
--symbol-semisextile:'\26ba';
--symbol-sesquiquadrate:'\26bc';
--symbol-sextile:'\26b9';
--symbol-shadowed-white-circle:'\274d';
--symbol-shadowed-white-latin-cross:'\271e';
--symbol-six-petalled-black-and-white-florette:'\273e';
--symbol-sixteen-pointed-asterisk:'\273a';
--symbol-skull-and-crossbones:'\2620';
--symbol-snowflake:'\2744';
--symbol-sparkle:'\2747';
--symbol-taurus:'\2649';
--symbol-teardrop-spoked-asterisk:'\273b';
--symbol-three-lines-converging-left:'\269f';
--symbol-three-lines-converging-right:'\269e';
--symbol-tight-trifoliate-snowflake:'\2745';
--symbol-universal-recycling:'\2672';
--symbol-unmarried-partnership:'\26af';
--symbol-upper-right-drop-shadowed-white-square:'\2750';
--symbol-upper-right-shadowed-white-square:'\2752';
--symbol-uranus:'\2645';
--symbol-vertical-male-with-stroke-sign:'\26a8';
--symbol-vesta:'\26b6';
--symbol-virgo:'\264d';
--symbol-wheelchair:'\267f';
--symbol-white-exclamation-mark-ornament:'\2755';
--symbol-white-florette:'\2740';
--symbol-white-question-mark-ornament:'\2754';
--symbol-white-shogi-piece:'\2616';
}